.btn.btn-sidebar-toggle:not(.bulk-select, .sidebar-section-header) {
  border: 1px solid var(--primary-medium) !important; // overrides another important
  box-shadow: none;
  color: var(--header_primary-low-mid);

  .d-icon {
    color: currentcolor;
  }

  &:hover,
  &:focus {
    .d-icon {
      color: var(--header_primary-high);
    }
  }
}

.has-sidebar-page .sidebar-wrapper {
  background: var(--secondary);
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  margin-top: 1.5em;
  top: calc(var(--header-offset) + 1.5em);
  height: calc(100vh - (var(--header-offset, 0) + 3em));

  .sidebar-section-wrapper
    .sidebar-section-header-wrapper
    .sidebar-section-header-button {
    border-radius: 5px;
    border: 1px solid var(--primary-500);
    box-shadow:
      inset 0 1px 2px rgba(255, 255, 255, 0.5),
      inset 0 -1px 2px rgba(0, 0, 0, 0.25);
  }
}

.sidebar-wrapper .sidebar-container {
  .sidebar-section-link-wrapper .btn {
    border: none !important;
    border-radius: 0;
    box-shadow: none;
  }
}

.sidebar-footer-actions {
  display: flex;
  align-items: stretch;
  gap: 0.25em;

  button.btn {
    color: var(--primary-medium);

    .d-icon {
      color: currentcolor;
    }

    .discourse-no-touch & {
      &:hover {
        .d-icon {
          color: var(--primary-high);
        }
      }
    }
  }
}
