@import "sidebar";

body {
  background: var(--primary-low);
}

//topic
.topic-body {
  background: var(--secondary);
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0;
  border-top: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  margin-left: 30px;
  @media screen and (max-width: 924px) {
    width: 90%;
  }
  @media screen and (max-width: 770px) {
    width: 85%;
  }
  .regular {
    margin-top: 0;
  }
  &:before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    left: -10px;
    top: 27px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid var(--secondary);
  }
  .topic-meta-data {
    padding: 10px;
  }
  .cooked {
    margin-top: 0;
    padding: 0 10px;
    img:not(.thumbnail) {
      max-width: 670px;
    }
  }
}

#topic-footer-buttons .btn {
  height: auto;
}

#topic-footer-buttons .bookmark.bookmarked {
  .d-icon-discourse-bookmark-clock,
  .d-icon-bookmark {
    color: var(--tertiary-medium);
  }
}

.presence-users {
  background-color: transparent;
  padding: 0 5px 0 0;
}

#share-link {
  border-radius: 5px;
}

.moderator .topic-body:before {
  border-right: 10px solid var(--highlight);
}

.deleted .topic-body:before {
  border-right: 10px solid var(--danger);
}

.topic-map {
  margin-top: 0;
  border-radius: 0 0 10px 10px;
  border: none;
  .buttons .btn {
    background: transparent;
    border: none !important;
    &:hover {
      background: transparent;
    }
  }
  button.widget-button.btn.no-text {
    box-shadow: none;
  }
}

.btn .d-icon {
  color: currentColor;
}

.topic-map-expanded {
  border-top: none;
}

.topic-avatar {
  border-top: none;
}

.post-actions {
  margin-bottom: 0px;
  .post-action {
    margin-right: 10px;
    padding-bottom: 10px;
  }
}

.post-menu-area {
  margin-bottom: 0;
  border-top: 1px solid var(--primary-low);
  opacity: 0.3;
  transition: opacity 0.7s;
  .actions {
    button {
      padding: 12px !important;
      border-left: 1px solid var(--secondary);
      margin: 0;
      &.reply {
        margin-left: 0;
        background: var(--tertiary-low);
        color: var(--tertiary);
        border-radius: 0 0 5px 0;
        .topic-owner & {
          border-radius: 0;
        }
        &:hover {
          background: var(--tertiary);
          color: var(--secondary);
        }
      }
    }
    button.widget-button.btn-flat.accepted.fade-out.no-text.btn-icon {
      border-left: none;
    }
  }
  span.accepted-text {
    line-height: 42px;
  }
  nav.post-controls button.bookmark {
    padding: 12px;
  }
  nav.post-controls .show-replies {
    margin-left: 0;
    height: 42px;
  }
  .like-count.highlight-action.btn-text,
  .toggle-like.like.no-text.btn-icon {
    padding: 12px;
  }
  nav.post-controls .like-button .toggle-like {
    margin-left: 0;
    padding: 12px 12px 12px 5px;
  }
  .toggle-like.has-like {
    border-left: none;
  }
  nav.post-controls .like-button .like-count.my-likes {
    margin-right: 0;
  }
  .regular-likes.btn-text + .toggle-like.like.no-text.btn-icon {
    border-left: none;
    padding: 12px 12px 12px 5px;
  }
}

nav.post-controls .actions .double-button button.button-count:not(.my-likes) {
  padding-right: 0 !important; // ovverrides another important
}

.embedded-posts {
  padding: 20px 0;
  background: var(--primary-300);
  border: none;

  .topic-body {
    overflow: visible;
    width: calc(100% - 120px);
    padding: 5px 25px 0 15px;
  }
  &.top {
    margin-left: 75px;
    width: 710px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    margin-bottom: -10px !important;
    border-radius: 5px 5px 0 0;
    .topic-body .cooked img:not(.thumbnail) {
      max-width: 100%;
      height: auto;
    }
    .row .topic-avatar,
    .row .topic-body {
      border-top: none;
    }
    @media screen and (max-width: 960px) {
      width: 90%;
    }
    @media screen and (max-width: 770px) {
      width: 85%;
    }
    &:before {
      display: none;
    }
    &.row:before {
      display: table;
    }
  }
  &.bottom {
    margin-bottom: 0;
    margin-left: 0;
    .row .topic-avatar,
    .row .topic-body {
      border-top: none;
    }
  }
}

.post-links-container {
  .post-links {
    padding: 10px 10px 0 10px;
    margin-top: 0;
  }
}

.topic-body:hover {
  .post-menu-area {
    opacity: 1;
  }
}

.badge-wrapper.box {
  text-shadow: 0 1px var(--primary);
  margin-top: 0;
  .badge-category-bg {
    border-radius: 5px;
    border: 1px solid var(--primary);
    box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.25);
  }
}

.timeline-container .topic-timeline {
  .timeline-handle {
    background: var(--tertiary);
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5),
      inset 0 -1px 2px rgba(0, 0, 0, 0.25);
  }
  .timeline-scrollarea {
    border-color: var(--primary-medium);
  }
}

.who-liked {
  margin-top: 0;
  padding-top: 10px;
  width: 98%;
}

section.avatars.clearfix {
  border-top: none;
}

#reply-control {
  background: var(--primary-low);
  .d-editor-button-bar {
    margin: 5px;
    border-bottom: none;
    height: 29px;
    .btn {
      min-width: 25px;
      height: 32px;
      border-color: var(--primary-high);
      margin: 0 2px;
      @media screen and (max-width: 400px) {
        min-width: unset;
        font-size: 0.85em;
        padding: 0.27em;
      }
    }
  }

  .btn-mini-toggle {
    color: var(--primary-medium);
  }

  .btn:not(.create):hover {
    .d-icon {
      color: var(--secondary);
    }
    background: var(--primary-medium);
  }
  .d-editor-button-bar .toolbar-popup-menu-options .btn.select-kit-header {
    padding: 0.5em 0.65em;
    @media screen and (max-width: 400px) {
      padding: 0.5em 0.25em;
    }
  }
  .composer-actions {
    button.dropdown-select-box-header {
      border: none !important;
      min-width: 0;
      margin-right: 2px;
    }
  }
}

@keyframes background-fade-highlight {
  0% {
    background-color: var(--tertiary-low);
  }
  100% {
    background-color: var(--secondary);
  }
}

.popup-menu {
  background: transparent;
  border-radius: 5px;
  border: none;
  .btn {
    background: var(--secondary);
    margin-bottom: 0.2em;
  }
}

.modal-inner-container {
  border-radius: 5px;
}

.small-action {
  .topic-avatar {
    padding-left: 3px;
  }
  .topic-avatar .d-icon {
    color: var(--primary-medium);
  }
  .small-action-desc {
    color: var(--primary-high);
  }
  .small-action-desc {
    @media screen and (min-width: 756px) {
      width: 100%;
      max-width: 740px;
    }
    padding-left: 30px;
    button {
      margin-left: 5px;
    }
  }

  .mention,
  .mention-group {
    background: var(--primary-300);
  }
}

.gap {
  padding-left: 75px;
}

.read-state {
  top: 14px;
  right: 2px;
}

.post-admin-menu {
  padding: 0.5em;
}

.post-admin-menu,
.topic-admin-popup-menu {
  background: var(--secondary);
}

#topic-progress-wrapper .topic-admin-menu-button-container {
  right: 50px;
}

// topic list
.topic-list-latest tr {
  &:nth-child(2n) {
    background: var(--primary-high);
  }
}

.topic-list .badge-notification.new-topic {
  color: transparent;
}

.categeory-list {
  tbody {
    background: var(--secondary);
    tr:first-of-type {
      border-top: none;
    }
  }
}

td.main-link {
  tr {
    background: transparent !important;
  }
}

#suggested-topics {
  .topic-list {
    background: var(--secondary);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
  }
}

.select-kit.combo-box {
  &.category-drop .category-drop-header,
  &.tag-drop .tag-drop-header {
    background: transparent;
  }
}

.topic-list tr.selected td:first-child,
.topic-list-item.selected td:first-child,
.topic-post.selected {
  box-shadow: none;
  .topic-avatar img {
    box-shadow: 0 0 0 5px var(--danger);
  }
}

#list-area {
  .contents {
    background: var(--secondary);
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
    .topic-list-item {
      border: none;
      &:nth-child(2n) {
        background: var(--primary-very-low);
      }
    }
    .topic-list thead {
      border-bottom: 1px solid var(--secondary);
      th {
        background: var(--primary-very-low);
        font-weight: bold;
        &:first-of-type {
          border-radius: 5px 0 0 0;
        }
        &:last-of-type {
          border-radius: 0 5px 0 0;
        }
      }
    }
    .topic-list th {
      color: var(--primary-medium);
    }
    a.title {
      color: var(--tertiary);
      &:visited {
        color: var(--tertiary-700);
      }
    }
  }
}

.nav-pills {
  margin-left: 10px;
}

.nav-pills > li.active > a,
.nav-pills > li > a.active {
  border-radius: 5px;
  text-shadow: 0 1px var(--quaternary-shadow);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25),
    inset 0 -1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--quaternary);
}

.nav-pills > li > a:hover {
  border-radius: 5px;
}

.btn:not(
    .bulk-select,
    .sidebar-section-header,
    .close,
    .period-chooser-header,
    .btn-flat
  ),
.user-menu.revamped .btn.user-menu-tab {
  border-radius: 5px;
  border: 1px solid var(--primary-500);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.25);
}

.user-menu.revamped .bottom-tabs {
  border-top: 0;
}

.menu-panel .panel-body-bottom .btn {
  border-color: var(--primary-low-mid);
}

.list-controls {
  .category-dropdown-menu {
    padding: 0 10px 0 5px;
    .badge-wrapper.box {
      margin-bottom: 5px;
    }
    a.badge-category.home {
      box-shadow: none !important;
    }
  }
  .category-breadcrumb {
    margin-right: 0px;
    .dropdown-header,
    .dropdown-header.home {
      border-radius: 4px 0 0 4px;
    }
    .dropdown-header.category-dropdown-button,
    .dropdown-header.category-dropdown-button.home {
      border-radius: 0 4px 4px 0;
    }
    li.bullet > .dropdown-header {
      border-radius: 10px;
    }
    a.badge-category {
      border-radius: 5px 0 0 5px;
    }
    a.badge-category.category-dropdown-button {
      border-radius: 0 5px 5px 0;
    }
    a.badge-category:not(.home) {
      text-shadow: 0 1px var(--primary-medium);
    }
    .has-drop.box {
      a.badge-category {
        border-radius: 4px 0 0 4px !important;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25),
          inset 0 -1px 0 rgba(0, 0, 0, 0.25);
        &.category-dropdown-button {
          border-radius: 0 4px 4px 0 !important;
        }
      }
    }
  }
}

ol.category-breadcrumb li div.combo-box-header {
  border-radius: 5px;
  border: 1px solid var(--primary-medium);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.25),
    inset 0 -1px 2px rgba(0, 0, 0, 0.25);
}

.btn.btn-default,
.btn.btn-primary {
  background: var(--tertiary);
  color: var(--secondary);
  border-radius: 5px;
  text-shadow: 0 1px var(--tertiary-shadow);
  box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5),
    inset 0 -1px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--tertiary);
  &[href] {
    color: var(--secondary);
  }
  &:hover {
    background: var(--tertiary-high);
  }
}

.btn.btn-danger {
  border-color: var(--danger);
}

.btn[disabled],
.btn.disabled {
  color: currentColor;
}

nav.post-controls .actions button.create {
  color: var(--tertiary);
  .d-icon {
    color: currentColor;
  }
  &:hover {
    .d-icon {
      color: currentColor;
    }
  }
}

.list-controls {
  .btn.no-text.btn-icon {
    border-radius: 5px;
    border: 1px solid var(--primary-medium) !important;
    box-shadow: inset 0 1px 2px rgba(255, 255, 255, 0.5),
      inset 0 -1px 2px rgba(0, 0, 0, 0.25);
  }
}

img.avatar {
  border-radius: 5px;
}

.category-box-inner {
  background: var(--secondary);
  border-radius: 0 5px 5px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  border: 1px solid var(--secondary) !important;
}

// header
.d-header {
  .icons > li {
    &:first-of-type {
      border-left: 1px solid var(--primary-low-mid);
      border-radius: 5px 0 0 5px;
      button {
        border-radius: 5px 0 0 5px;
      }
    }
    &:last-of-type {
      border-radius: 0 5px 5px 0;
      button {
        border-radius: 0 5px 5px 0;
      }
    }
    border-right: 1px solid var(--primary-low-mid);
    border-top: 1px solid var(--primary-low-mid);
    border-bottom: 1px solid var(--primary-low-mid);
    &.active {
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  .icons .icon {
    color: var(--primary-medium);
  }
  .drop-down-visible .d-header-icons .active .icon {
    background: transparent;
    border-top: none;
  }
  .bootstrap-mode {
    color: var(--secondary);
  }
}

.menu-panel {
  margin-top: -1px;
  border: 1px solid var(--primary-low-mid);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.user-menu.revamped {
  .menu-tabs-container {
    border: none;
    padding: 0.5em 0;
  }

  .tabs-list .btn {
    margin-right: 0.25em;
    margin-bottom: 0.33em;
    padding: 0.55em 0.75em;
    &.active {
      .d-icon {
        color: var(--primary-high);
      }
    }
  }
}

.user-menu.revamped #quick-access-profile .profile-tab-btn {
  border: none !important; // overrides another important
  box-shadow: none;
}

.card-content {
  border-radius: 5px;
}

.top-lists,
.categories-and-latest {
  padding: 10px;
}

// userm group directories, and static pages

.user-content-wrapper,
.users-directory,
.body-page {
  box-sizing: border-box;
  background: var(--secondary);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid var(--primary-low);
}

// user profile

.user-main {
  box-sizing: border-box;
  background: var(--secondary);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 20px;
  border: 1px solid var(--primary-low);
  margin-top: 20px;
  .about {
    &.has-background {
      .details {
        padding-bottom: 10px;
      }
      .secondary {
        margin: 0px;
      }
    }
    .details,
    .collapsed-info .details {
      background: transparent !important;
      border-bottom: none !important;
    }
    .controls a {
      width: auto;
    }
    .bio {
      p {
        padding: 5px 10px;
        &:first-of-type {
          &:before {
            content: "";
            position: absolute;
            margin-left: -20px;
            margin-top: 10px;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid var(--secondary);
            z-index: 9;
          }
        }
      }
    }
    .secondary {
      background: transparent;
      border-top: 1px solid var(--primary-low-mid);
      border-bottom: 1px solid var(--primary-low-mid);
      margin: 10px 0;
    }
  }
  .user-navigation,
  .user-preferences {
    padding-left: 0;
  }
  .user-right {
    padding-left: 20px;
  }
  .nav-stacked.activity-list {
    padding-top: 0;
  }
}

.user-content {
  background: transparent;
}

.user-stream .item,
.user-stream .user-stream-item {
  background: transparent;
}

.nav-pills.user-nav {
  margin-left: 0;
}

.horizontal-overflow-nav {
  .nav-pills > li.active > a,
  .nav-pills > li > a.active {
    box-shadow: none;
    text-shadow: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
}

// search

.search-container {
  .search-header,
  .search-filters,
  .search-bar {
    background: var(--primary-low);
  }

  .search-filters .search-advanced-filters,
  .search-advanced-options,
  .search-advanced .search-info,
  .search-advanced-additional-options {
    background: transparent;
  }

  .search-filters {
    margin-top: 1em;
    background: var(--secondary);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
    details.advanced-filters {
      margin-top: 0;
    }
  }
}

.search-container .search-advanced-sidebar {
  .search-advanced-title {
    border-radius: 5px 5px 0 0;
    border: 1px solid var(--primary-medium);
  }
  .search-advanced-filters {
    border-radius: 0 0 5px 5px;
    border: 1px solid var(--primary-medium);
    border-top: none;
  }
}

.search-advanced-btn {
  border-radius: 5px 5px 0 0 !important;
}

.search-title {
  padding: 0 10px;
}

.fps-result {
  background: var(--secondary);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

// badges
.badge-card {
  background: var(--secondary);
  border-radius: 5px;
  .badge-contents .badge-icon {
    border-radius: 5px 0 0 5px;
  }
}

// groups
.groups-table {
  th,
  td,
  tr {
    padding: 10px;
  }
  span {
    padding: 0 10px;
  }
}

.groups-table,
.group-details-container,
.group-box {
  background: var(--secondary);
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.group-members .avatar {
  padding-left: 5px;
}

.list-controls .group-nav .combo-box .combo-box-header {
  border: 1px solid var(--primary-medium);
  border-radius: 5px;
}

.group-nav.nav-pills {
  margin-left: 0;
}

// admin
.boxed.white {
  padding: 5px 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.12);
}

.alert.alert-info {
  border-radius: 5px;
  border: 1px solid var(--tertiary);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.07);
}

.popup-tip {
  border-radius: 5px;
  border: 1px solid var(--danger);
}

.composer-popup {
  border-radius: 5px;
  border: 1px solid var(--highlight-low);
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header {
  border: none;
}

.select-kit.dropdown-select-box.period-chooser
  .period-chooser-header
  h2.selected-name {
  margin: 0;
}

.select-kit.dropdown-select-box.period-chooser .period-chooser-header .d-icon {
  margin: 0 0 0 5px;
}

.admin-controls .nav-pills > li a.active {
  background: var(--danger);
}

//plugins
button.post-retort {
  float: none;
  &:first-of-type {
    margin-left: 11px;
  }
}

.header-search-enabled {
  .search-header {
    .btn.search-icon {
      margin-left: 5px;
    }
  }
  ul.d-header-icons > li:first-of-type {
    border: none;
    display: none;
  }
  ul.d-header-icons > li:nth-of-type(2) {
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--primary-low);
  }
}

.desktop-view {
  .post-notice {
    max-width: calc(690px - 0.1em);
    margin-left: 75px;
    @media screen and (max-width: 924px) {
      max-width: unset;
      width: calc(85% - 25px);
    }
  }
}

.mobile-view {
  .post-notice {
    max-width: unset;
  }
}

.lightbox-wrapper,
.lightbox-wrapper * {
  max-width: 100%;
}

.btn-flat.modal-close {
  border: none !important;
  box-shadow: none;
}
