body {
    background: darken($secondary, 7%);
}

.topic-body {
    background: $secondary;
    border-radius: 5px;
    margin-bottom: 15px;
    padding: 0;
    box-shadow: 2px 2px 8px rgba(0,0,0,.12);
    margin-left: 30px;

    .regular {
        margin-top: 0;
    }
    &:before {
        content: "";
    width: 0;
     height: 0;
        position: absolute;
        left: -10px;
        top: 27px;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
        border-right:10px solid #fff;

    }
    .topic-meta-data {
        padding: 10px;
    }
     .cooked {
         margin-top: 0;
         padding: 0 10px;
     }


}
.topic-map {
    margin-top: 0;
    border-radius: 0 0 10px 10px;
    border: none;
    .buttons .btn {
        background: transparent;
        &:hover {
            background: transparent;
        }
    }
    button.widget-button.btn.no-text {
        border-radius: 0;
     }
}
.topic-map-expanded {
    border-top: none;
}
.post-menu-area {
    margin-bottom: 0;
    border-top: 1px solid lighten($primary, 80%);
    opacity: .3;
    transition: opacity .7s;

.actions {
    button {
    padding: 12px;
    border-left: 1px solid lighten($primary, 80%);
    margin: 0;
    &.reply {
        margin-left: 0;
        background: scale-color($tertiary, $lightness: 90%);
        color: $tertiary;
        border-radius: 0 0 5px 0;
        .topic-owner & {
                    border-radius: 0;

        }
        &:hover {
        background: scale-color($tertiary, $lightness: 80%);
        color: $tertiary;
        }
    }

    }

    }

    nav.post-controls button.bookmark {
        padding: 12px;
    }
}

.topic-body:hover {
    .post-menu-area {
        opacity: 1;
    }
}


.badge-wrapper.box {
    text-shadow: 0 1px scale-color($primary, $lightness: 25%);
    margin-top: 0;
    .badge-category-bg {
    border-radius: 5px;
    border: 1px solid scale-color($primary, $lightness: 40%);
    box-shadow: inset 0 1px 0 rgba($secondary, .25);
    }
}

.timeline-container .topic-timeline {
    .timeline-handle {
     background: scale-color($primary, $lightness: 40%);
    }
    .timeline-scrollarea {
    border-color: scale-color($primary, $lightness: 40%);
    }
}

.who-liked {
    border-top: 1px solid scale-color($primary, $lightness: 90%);
    margin-top: 0;
    padding-top: 10px;
}

section.avatars.clearfix {
    border-top: none;
}

#reply-control {
    border-top: 1px solid scale-color($primary, $lightness: 80%);
    box-shadow: 0 -2px 5px rgba(0,0,0,.07);
   .d-editor-button-bar {
    border-bottom: none;
   }
   .btn {min-width: 25px;}
   .btn:hover {
       background: scale-color($primary, $lightness: 90%);
   }
}

/* topic list */

.topic-list-latest tr {
    &:nth-child(2n) {
                 background: darken($secondary, 3%);
             }
    tr {background: transparent !important;}

}

#list-area {
    .contents {
        background: $secondary;
        border-radius: 5px;
        box-shadow: 2px 2px 8px rgba(0,0,0,.12);
        border: 1px solid scale-color($primary, $lightness: 80%);

         .topic-list-item {
             border: none;
             &:nth-child(2n) {
                 background: darken($secondary, 3%);
             }
         }
         .topic-list thead {

                 border-bottom: 1px solid scale-color($primary, $lightness: 80%);
                 th {
                     background: scale-color($secondary, $lightness: 5%);
                     font-weight: bold;
                     &:first-of-type {
                         border-radius: 5px 0 0 0;
                     }
                     &:last-of-type {
                         border-radius: 0 5px 0 0;

                     }
                 }
         }
         .topic-list th {
             color: scale-color($primary, $lightness: 40%);
         }
    a {color: $tertiary;}
    }
}

.extra-info-wrapper {
    overflow: visible;

}
.nav-pills {margin-left: 10px;}

.nav-pills>li.active>a, .nav-pills>li>a.active {
    border-radius: 5px;
    text-shadow: 0 1px scale-color($primary, $lightness: 25%);
    box-shadow: inset 0 1px 0 rgba($secondary, .25);
    border: 1px solid scale-color($primary, $lightness: 40%);
}

.nav-pills>li>a:hover {
    border-radius: 5px;
}

.btn:not(.bulk-select) {
    border-radius: 5px;
    border: 1px solid scale-color($primary, $lightness: 80%);
        box-shadow: inset 0 1px 0 rgba($secondary, .25);

}

.list-controls {
    .category-dropdown-menu {
        padding: 0 10px 0 5px;
        .badge-wrapper.box {
            margin-bottom: 5px;
        }
    }
    .category-breadcrumb {
    border-radius: 5px;
    margin-right: 0px;
    border: 1px solid scale-color($primary, $lightness: 40%);
    a.badge-category:not(.home) {
            text-shadow: 0 1px scale-color($primary, $lightness: 25%);
    }
        .has-drop.box {
            a.badge-category {
                border-radius: 4px 0 0 4px !important;
                        box-shadow: inset 0 1px 0 rgba($secondary, .25);

                &.category-dropdown-button {border-radius: 0 4px 4px 0 !important;}
            }
        }
    }
}


 ol.category-breadcrumb li {
     margin-right: 0;
 }

.btn-default, .btn-primary {
    background: $tertiary;
    color: $secondary;
    border-radius: 5px;
    text-shadow: 0 1px scale-color($primary, $lightness: 25%);
    box-shadow: inset 0 2px 10px rgba($secondary, .25);
    border: 1px solid scale-color($primary, $lightness: 40%);
    &:hover {
            background: scale-color($tertiary, $lightness: -20%);

    }
}

img.avatar {
    border-radius: 5px;
}

/* header */

.d-header {

    .icons>li {
    &:first-of-type {
        border-left: 1px solid scale-color($primary, $lightness: 80%);
        border-radius: 5px 0 0 5px;
    }
    &:last-of-type {
        border-radius: 0 5px 5px 0;
    }
    border-right: 1px solid scale-color($primary, $lightness: 80%);
    border-top: 1px solid scale-color($primary, $lightness: 80%);
    border-bottom: 1px solid scale-color($primary, $lightness: 80%);
    &.active {
        border-bottom: none;
    }

    }
}

.menu-panel {
    border: none;
    box-shadow: 0px 3px 8px rgba(0,0,0,.12);
    border-radius: 5px;
}

#user-card {
    border-radius: 5px;
}

.top-lists, .categories-and-latest {
    padding: 10px;
}

/* user profile */

.user-main {
    .user-table {
        box-sizing: border-box;
        background: $secondary;
        box-shadow: 2px 2px 8px rgba(0,0,0,.12);
        border-radius: 5px;
        padding: 20px;
        border: 1px solid scale-color($primary, $lightness: 80%);
        margin-top: 20px;
        .stats-section ul {
            border-top: 1px solid scale-color($primary, $lightness: 80%);
            border-bottom: 1px solid scale-color($primary, $lightness: 80%);
            li {margin: 0;}
        }
    }

    .about {
        &.has-background {
            .details {
              background: rgba(lighten($primary, 80%), .85) !important;
              padding-bottom: 10px;

            }
            .secondary {
                background: rgba(lighten($primary, 80%), 1);
                margin: 0px;
            }
        }
        .details, .collapsed-info .details {
            background: transparent !important;
            border-bottom: none !important;
        }
        .controls a {
            width: auto;
        }
        .bio {
            p {
             padding: 5px 10px;
                &:first-of-type {
                    &:before {
                content: "";
                position: absolute;
                margin-left: -20px;
                margin-top: 10px;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid $secondary;
                z-index: 9;
                    }
            }

            }
            background: $secondary;
            border-radius: 5px;
            box-shadow: 2px 2px 8px rgba(0,0,0,.12);


        }
        .secondary {
            background: transparent;
            border-top: 1px solid scale-color($primary, $lightness: 80%);
            border-bottom: 1px solid scale-color($primary, $lightness: 80%);
            margin: 10px 0;
        }

    }
  .user-navigation, .user-preferences {
      padding-left: 0;
  }
    .user-right {
        padding-left: 20px;
    }
    .nav-stacked.activity-list {
        padding-top: 0;
    }
}
  .nav-pills.user-nav {
            margin-left: 0;
        }




@keyframes background-fade-highlight {
  0% {
    background-color: lighten($tertiary, 55%);
  }
  100% {
    background-color: $secondary;
  }
}

.popup-menu {
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.12);
}

.modal-inner-container {
    border-radius: 5px;
}

.small-action .small-action-desc, .small-action .topic-avatar i {
    color: scale-color($primary, $lightness: 25%);
}

/* search */

.search-advanced .search-advanced-options {
    border-color: scale-color($primary, $lightness: 80%);
    border-top: none;
}

.search-advanced-btn  {
    border-radius: 5px 5px 0 0 !important;
}
.search-title {padding: 0 10px;}
.fps-result {
    background: $secondary;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 8px rgba(0,0,0,.12);

}

/* badges */

.badge-card {
    background: $secondary;
    border-radius: 5px;
   .badge-contents .badge-icon {
       background: darken($secondary, 2%);
           border-radius: 5px 0 0 5px;

   }
}

/* groups */

.groups-table {
    background: $secondary;
    border-radius: 5px;
    th, td, tr {
        padding: 10px;
    }
    span {
       padding: 0 10px;
    }
}

/*

other bullet styles might need

  a.badge-category.home {
        background: transparent !important;

    }


*/
